<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Alex's To-Do List</title>
  <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body>
  <h1>TO DO LIST</h1>
  <ul>
    <% @tasks.each do |task, date| %>
    <li>
      <%= task %>
      <% unless blank? date %> <em> - <%= date %></em><% end %>
    </li>
    <% end %>
  </ul>
  <form action='/' method='POST'>
    Add item to list:
    <input type='text' name='task' placeholder='Item' />
    <input type='text' name='date' placeholder='Date [optional]' />
    <input type='submit' value='Add'>
  </form>
</body>
